<div class="container mt-5 ml-auto mr-auto row d-flex justify-content-center">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ArticuloDiv">
        <div id="img" class="m-0 p-0">
            <img src="~/Content/img/Audio.jpeg" class="float-left img-fluid" />
        </div>
        <div id="Price" class="w-75">10% Off</div>
        <br />
        <p id="Tipe" class="ml-5 text-center m-0">Auriculares</p>
        <p class="text-muted text-center">Desde $300</p>
        <div class="m-0 p-0 text-center mt-lg-5"><a href="#" id="Link">Auriculares ></a></div>

       
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ArticuloDiv">
        <div id="img">
            <img src="~/Content/img/Perifericos.jpeg" class="float-left img-fluid" alt="Alternate Text" />
        </div>
        <div id="Price" class="w-75 ">10% Off</div>
        <br />
        <p id="Tipe" class="text-center m-0">Accesorios</p>
        <p class="text-muted text-center">Desde $5</p>
        <div class="m-0 p-0 text-center mt-lg-5"><a href="#" id="Link">Accesorios ></a></div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ArticuloDiv">
        <div id="img">
            <img src="~/Content/img/Consumibles.jpeg" class="float-left img-fluid" alt="Alternate Text" />
        </div>
        <div id="Price" class="w-75 ">5% Off</div>
        <br />
        <p id="Tipe" class="text-center m-0">Consumibles</p>
        <p class="text-muted text-center">Desde $5</p>
        <div class="m-0 p-0 text-center mt-lg-5"><a href="#" id="Link">Consumibles ></a></div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ArticuloDiv">
        <div id="img">
            <img src="~/Content/img/Consumibles.jpeg" class="float-left img-fluid" alt="Alternate Text" />
        </div>
        <div id="Price" class="w-75 ">5% Off</div>
        <br />
        <p id="Tipe" class="text-center m-0">Consumibles</p>
        <p class="text-muted text-center">Desde $5</p>
        <div class="m-0 p-0 text-center mt-lg-5"><a href="#" id="Link">Consumibles ></a></div>
    </div>

</div>


