@model List<ortesis>


@if (Model == null)
    {
        <br />
        <img src="~/Content/img/Error.png" class="ml-auto mr-auto d-block" /><br />
        <h4 class="d-flex justify-content-center text-muted">¡Oh No, Hubo un error al cargar los datos!</h4>
        <br /><br /><br />
        return;
    }
@{ if (Model.Count == 0)
    {
        <br />
        <img src="~/Content/img/Empty.png" class="ml-auto mr-auto d-block" /><br />
        <h4 class="d-flex justify-content-center text-muted">¡Oh No, El Catalogo esta Vacio!</h4>
        <br /><br /><br />
        return;
    }
}
<!--Si no hubo error imprimra los datos-->
<div class="container mt-5 ml-auto mr-auto row d-flex justify-content-center">
    @{ foreach (ortesis x in Model)
        {
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ArticuloDiv">
                <div id="img">
                    <img src="data:image/png;base64,@Convert.ToBase64String(x.foto)" class="ProductoImg float-left img-fluid" alt="Alternate Text" />
                </div>
                <div id="Price" class="w-75">Alta Calidad</div>
                <br />
                <p id="Tipe" class="text-center m-0">@x.nombre</p>
                <p class="text-muted text-center">@x.tipoOrtesis.nombre</p>
                <p class="text-muted text-center">@x.descripcion  </p>
                <div class="m-0 p-0 text-center mt-lg-5"><button id="@x.id" onclick="Mostrar_Info(this.id)" class="btn btn-white shadow-none p-0 m-0"><a id="Link"><i class="fas fa-shopping-cart"></i>Añadir al Carrito</a></button></div>
            </div>
        }
    }
</div>





